<div id="menu_main">
<!--Logo-->
<div style="height: 100px;width: 100%;text-align: center;padding-top: 20px;background-color: white;">
  <img src="https://www.yourstyle.com.pe/backend/uploads/register/img_logo_main_1.png" alt=""/>
</div>

<!--Menú-->
<nav class="container navbar navbar-toggleable-md navbar-light bg-faded" style="border: medium;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Inicio</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">New Arrivals <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blusas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Denim</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ropa
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Chompas</a>
          <a class="dropdown-item" href="#">Abrigo</a>
          <a class="dropdown-item" href="#">Vestidos</a>
          <a class="dropdown-item" href="#">Básicos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PROMO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Colecciones</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 hidden-md-down">
      <input class="form-control hidden-md-down" type="text" placeholder="Busca aqui: blusas, denim, ropa..." style="width: 300px; !important;" aria-label="Search">
    </form>
  </div>
</nav>
</div>

<div style="background-color: #ce8483; height: 200px;"></div>
<div style="background-color: #c1e2b3; height: 200px;"></div>
<div style="background-color: coral; height: 200px;"></div>
<div style="background-color: moccasin; height: 200px;"></div>

<section id="main" class="col-lg-12">
  <!-- Componente actual -->
  <router-outlet></router-outlet>
</section>
<!--<img src="http://yourstyle.com.pe/backend/uploads/page/list/webpage_1.jpg">-->
