<div id="menu_main">
  <!--Logo-->
  <div style="height: 100px;width: 100%;text-align: center;padding-top: 20px;background-color: white;">
    <img src="https://www.yourstyle.com.pe/backend/uploads/register/img_logo_main_1.png" alt=""/>
  </div>
  <div style="height: 52px;">
    <!--Menú-->
    <nav class="navbar navbar-default" style="background-color: white;border-color: #9d9d9d;">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Inicio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">New Arrivals<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Blusas</a></li>
            <li><a href="#">Denim</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ropa <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Chompas</a></li>
                <li><a href="#">Abrigo</a></li>
                <li><a href="#">Vestidos</a></li>
                <li><a href="#">Básicos</a></li>
              </ul>
            </li>
            <li><a href="#" style="color: red;">PROMO</a></li>
            <li><a href="#">Colecciones</a></li>
          </ul>
          <form class="navbar-form navbar-right visible-lg visible-md">
            <input type="text" class="form-control" placeholder="Busca aqui: blusas, denim, ropa..." style="width: 242px;">
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <div style="border: 0px;">
    <form class="hidden-lg hidden-md" style="background-color: #ce8483">
      <input type="text" class="form-control" style="background-color: black;color: white;" placeholder="Busca aqui: blusas, denim, ropa...">
    </form>
  </div>
</div>
<div id="layout_content">
  <section id="main">
    <router-outlet></router-outlet>
  </section>
</div>
<div id="footer_main">
  <div class="fb-share-button" data-href="https://www.facebook.com/YourStyleqbo/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FYourStyleqbo%2F&amp;src=sdkpreparse">Compartir</a></div>
</div>

