#app_menu_main{
  position:fixed;
  top:0px;
  width: 100%;
  background-color:white;
  z-index:729;
}

#app_menu_main #app_logo{
  width: 100%;
  text-align: center;
  background-color: white;
}

#app_menu_main #app_logo img{
  vertical-align: middle;
  background-color: white;
}

#app_menu_main #app_navbar{
  height: 42px;
  background-color: white;
}

#app_menu_main #app_navbar nav{
  background-color: white !important;
  border-color: #C4C3C2 !important;
  border-style: solid;
  border-width: 1px;
  z-index: 9999;
}

#app_menu_main #app_navbar #app_form_find_1{
  display:none;
}

#app_menu_main #app_navbar #app_form_find_1 input{
  width: 250px;
  font-size: small;
  height: 32px;
}

#app_menu_main #app_navbar #app_form_find_1 span button{
  background-color: white;
  height: 32px;
  vertical-align: middle;
}

#app_menu_main #app_form_find_2{
  display:inline;
  width: 100%;
}

#app_menu_main #app_form_find_2 input{
  background-color: black;
  color: white;
  font-size: small;
  height: 32px;
  border: 0px;
}

#app_menu_main #app_form_find_2 span button{
  background-color: black;
  height: 32px;
  vertical-align: middle;
  box-shadow: none;
}

#app_layout_content{
  padding-top: 140px;
}

#app_footer_main{
  background-color: #C4C3C2;
  height: 300px;
  text-align: center !important;
  padding-top: 20px;
}

#app_footer_main #app_footer_social a span{
  color: white;
  background-color: dimgrey;
  font-size: 20px;
  padding: 10px;
}

#app_footer_main #app_footer_social a:hover{
  text-decoration:none;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width:767px){

}

@media screen and (min-width:992px){
  #app_menu_main #app_navbar #app_form_find_1{
    display:inline;
  }

  #app_menu_main #app_form_find_2{
    display:none;
  }

  #app_layout_content{
    padding-top: 108px;
  }
}

@media screen and (min-width:1200px){

}
