@import url(https://fonts.googleapis.com/css?family=Raleway:Semi-Bold);

body{
  font-family: 'Raleway' !important;
  font-size: 0.9em !important;
}

#menu_main{
  position:fixed;
  top:0px;
  width: 100%;
  height: 150px;
  background-color:white;
  z-index:729;
}



.layout_body {
  background-color: white !important;
}

#layout_content{
  padding-top: 152px;
}

#footer_main{
  background-color: #C4C3C2;
  height: 300px;
  text-align: center !important;
  padding-top: 20px;
}



@media(max-width:767px){
  #layout_content{
    padding-top: 185px;
  }

  .contenedor img.top {
    display:none;
  }
}

@media(min-width:768px){
  #layout_content{
    padding-top: 185px;
  }
  /*Cambio de imagen al pasar el mouse*/
  .contenedor {
    position: relative;
  }

  .contenedor img {
    position: absolute;
    transition: opacity 1.0s ease-in-out;
  }

  .contenedor img.top:hover {
    opacity: 0;
  }
}

@media(min-width:992px){
  #layout_content{
    padding-top: 152px;
  }
  /*Cambio de imagen al pasar el mouse*/
  .contenedor {
    position: relative;
  }

  .contenedor img {
    position: absolute;
    transition: opacity 1.0s ease-in-out;
  }

  .contenedor img.top:hover {
    opacity: 0;
  }
}
@media(min-width:1200px){
  #layout_content{
    padding-top: 152px;
  }
  /*Cambio de imagen al pasar el mouse*/
  .contenedor {
    position: relative;
  }

  .contenedor img {
    position: absolute;
    transition: opacity 1.0s ease-in-out;
  }

  .contenedor img.top:hover {
    opacity: 0;
  }
}
