@import url(https://fonts.googleapis.com/css?family=Raleway:Semi-Bold);

#menu_main{
  position:fixed;
  top:0px;
  width: 100%;
  height: 150px;
  background-color:white;
  z-index:729;
}

.layout_body {
  background-color: white !important;
  font-family: 'Raleway' !important;
}

#layout_content{
  padding-top: 300px;
}
